<p>Account Settings</p>
<%= form_for @user, :as => :user, :url => change_password_path, :method => :put do |f| %>
    <p>
      <%= f.label 'Current password:' %><br/>
      <%= f.text_field :password%>
      <%= show_field_error(@user, :password) %>
    </p>
    <p>
      <%= f.label 'Username: (leave blank if you are not changing your username)' %><br/>
      <%= f.text_field :username%>
      <%= show_field_error(@user, :username) %>
    </p>
    <p>
      <%= f.label 'Email: (leave blank if you are not changing your email)' %><br/>
      <%= f.password_field :email %>
      <%= show_field_error(@user, :email) %>
    </p>
    <p>
      <%= f.label 'New password: (leave blank if you are not changing your password' %><br/>
      <%= f.password_field :new_password %>
      <%= show_field_error(@user, :new_password) %>
    </p>
    <p>
      <%= f.submit 'Update' %>&nbsp;&nbsp;&nbsp;
    </p>
<% end %>